<section id="chat_container">
    <div class="row h-100">
        <div class="col-lg-3 col-md-4 col-sm-5 border-right pr-0">
            <div class="chat_nav">
                <div class="nav_data m-auto vertical-center border-bottom">
                    <img class="profile_thumb" src="/images/profiles/female.jpg" alt="profile Image">
                </div>
            </div>
            <div class="friendsList">
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-3 m-auto">
                                <img class="friend_profile_thumb" src="/images/profiles/male.jpg" alt="profile Image">
                            </div>
                            <div class="col-9 m-auto pl-0">
                                <div class="friend_data_thumb">
                                    <h5>Matt</h5>
                                    <p>5 Bucks <span class="float-right">09:10</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="active_chatter">
                        <div class="row">
                            <div class="col-3 m-auto">
                                <img class="friend_profile_thumb" src="/images/profiles/male.jpg" alt="profile Image">
                            </div>
                            <div class="col-9 m-auto pl-0">
                                <div class="friend_data_thumb">
                                    <h5>Matt</h5>
                                    <p>5 Bucks <span class="float-right">09:10</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-3 m-auto">
                                <img class="friend_profile_thumb" src="/images/profiles/male.jpg" alt="profile Image">
                            </div>
                            <div class="col-9 m-auto pl-0">
                                <div class="friend_data_thumb">
                                    <h5>Matt <span class="badge badge-success message-number">5</span></h5>
                                    <p class="unreadMessage_thumb">5 Bucks <span class="time_thumb float-right">09:10</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-3 m-auto">
                                <img class="friend_profile_thumb" src="/images/profiles/male.jpg" alt="profile Image">
                            </div>
                            <div class="col-9 m-auto pl-0">
                                <div class="friend_data_thumb">
                                    <h5>Matt</h5>
                                    <p>5 Bucks <span class="float-right">09:10</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-3 m-auto">
                                <img class="friend_profile_thumb" src="/images/profiles/male.jpg" alt="profile Image">
                            </div>
                            <div class="col-9 m-auto pl-0">
                                <div class="friend_data_thumb">
                                    <h5>Matt</h5>
                                    <p>5 Bucks <span class="float-right">09:10</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-7 p-0">
            {{!-- chatter profile nav --}}
            <div class="chatting_profile border-bottom">
                <div class="m-auto vertical-center pl-3">
                    <div class="d-inline-block align-middle">
                        <img class="chatter_profile_thumb" src="/images/profiles/male.jpg" alt="profile Image">
                    </div>
                    <div class="d-inline-block align-middle">
                        <div class="friend_data_thumb m-auto pl-2">
                            <h5>Matt</h5>
                            <div class="online">
                                <span class="online_green"></span>
                                <p>Online</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- chatting area --}}
            <div class="message_area">
                <div class="message_container">
                    {{!-- chat --}}
                    <div class="message sent">
                        <p>Hello</p>
                        <span class="right_corner"><span class="inner_right_corner"></span></span>
                    </div>

                    <div class="message recieved">
                        <span class="left_corner"><span class="inner_left_corner"></span></span>
                        <p>Hey</p>
                    </div>
                    {{!-- chat --}}
                    <div class="message sent">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <span class="right_corner"><span class="inner_right_corner"></span></span>
                    </div>

                    <div class="message recieved">
                        <span class="left_corner"><span class="inner_left_corner"></span></span>
                        <p>Lorem, ipsum dolor.</p>
                    </div>
                    {{!-- chat --}}
                    <div class="message sent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <span class="right_corner"><span class="inner_right_corner"></span></span>
                    </div>

                    <div class="message recieved">
                        <span class="left_corner"><span class="inner_left_corner"></span></span>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, a expedita! Modi debitis placeat culpa earum commodi deserunt officiis, ipsum quo! Non neque doloremque doloribus quos obcaecati blanditiis eveniet cupiditate.</p>
                    </div>
                    {{!-- chat --}}
                    <div class="message sent">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia provident dolorum assumenda eius. Illo cumque nulla laboriosam sed. Aliquam, distinctio!</p>
                        <span class="right_corner"><span class="inner_right_corner"></span></span>
                    </div>

                    <div class="message recieved">
                        <span class="left_corner"><span class="inner_left_corner"></span></span>
                        <p>Hey</p>
                    </div>
                    {{!-- chat --}}
                    <div class="message sent">
                        <p>Hello</p>
                        <span class="right_corner"><span class="inner_right_corner"></span></span>
                    </div>

                    <div class="message recieved">
                        <span class="left_corner"><span class="inner_left_corner"></span></span>
                        <p>Hey</p>
                    </div>
                    {{!-- chat --}}
                    <div class="message sent">
                        <p>Hello</p>
                        <span class="right_corner"><span class="inner_right_corner"></span></span>
                    </div>

                    <div class="message recieved">
                        <span class="left_corner"><span class="inner_left_corner"></span></span>
                        <p>Hey</p>
                    </div>
                    {{!-- chat --}}
                    <div class="message sent">
                        <p>Hello</p>
                        <span class="right_corner"><span class="inner_right_corner"></span></span>
                    </div>

                    <div class="message recieved">
                        <span class="left_corner"><span class="inner_left_corner"></span></span>
                        <p>Hey</p>
                    </div>
                    {{!-- chat --}}
                    <div class="message sent">
                        <p>Hello</p>
                        <span class="right_corner"><span class="inner_right_corner"></span></span>
                    </div>

                    <div class="message recieved">
                        <span class="left_corner"><span class="inner_left_corner"></span></span>
                        <p>Hey</p>
                    </div>
                    {{!-- chat --}}
                    <div class="message sent">
                        <p>Hello</p>
                        <span class="right_corner"><span class="inner_right_corner"></span></span>
                    </div>

                    <div class="message recieved">
                        <span class="left_corner"><span class="inner_left_corner"></span></span>
                        <p>Hey</p>
                    </div>
                    {{!-- chat --}}
                    <div class="message sent">
                        <p>Hello</p>
                        <span class="right_corner"><span class="inner_right_corner"></span></span>
                    </div>

                    <div class="message recieved">
                        <span class="left_corner"><span class="inner_left_corner"></span></span>
                        <p>Hey</p>
                    </div>
                    {{!-- chat --}}
                    <div class="message sent">
                        <p>Hello</p>
                        <span class="right_corner"><span class="inner_right_corner"></span></span>
                    </div>

                    <div class="message recieved">
                        <span class="left_corner"><span class="inner_left_corner"></span></span>
                        <p>Hey</p>
                    </div>
                </div>

                {{!-- chat input area --}}

                <div class="input_area">
                    <div class="form-row">
                        <input class="input_field_chat" type="any">
                        <button>Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(() => {
        $("nav").remove();
        $("#fotter").remove();
        $("#fotter_bottom").remove();
        $("body").css('overflow', 'hidden');
    })
</script>