<section id="chat_container">
    <div class="row h-100">
        <div class="col-3 border-right pr-0">
            <div class="chat_nav">
                <div class="nav_data m-auto vertical-center">
                    <img class="profile_thumb" src="/images/profiles/female.jpg" alt="profile Image">
                </div>
            </div>
            <div class="friendsList clearfix">
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-3 m-auto">
                                <img class="friend_profile_thumb" src="/images/profiles/male.jpg" alt="profile Image">
                            </div>
                            <div class="col-9 m-auto">
                                <div class="friend_data_thumb">
                                    <h5>Matt</h5>
                                    <p>5 Bucks <span class="float-right">09:10</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-3 m-auto">
                                <img class="friend_profile_thumb" src="/images/profiles/male.jpg" alt="profile Image">
                            </div>
                            <div class="col-9 m-auto">
                                <div class="friend_data_thumb">
                                    <h5>Matt</h5>
                                    <p>5 Bucks <span class="float-right">09:10</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-3 m-auto">
                                <img class="friend_profile_thumb" src="/images/profiles/male.jpg" alt="profile Image">
                            </div>
                            <div class="col-9 m-auto">
                                <div class="friend_data_thumb">
                                    <h5>Matt <span class="badge badge-success message-number">5</span></h5>
                                    <p class="unreadMessage_thumb">5 Bucks <span class="time_thumb float-right">09:10</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-3 m-auto">
                                <img class="friend_profile_thumb" src="/images/profiles/male.jpg" alt="profile Image">
                            </div>
                            <div class="col-9 m-auto">
                                <div class="friend_data_thumb">
                                    <h5>Matt</h5>
                                    <p>5 Bucks <span class="float-right">09:10</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-3 m-auto">
                                <img class="friend_profile_thumb" src="/images/profiles/male.jpg" alt="profile Image">
                            </div>
                            <div class="col-9 m-auto">
                                <div class="friend_data_thumb">
                                    <h5>Matt</h5>
                                    <p>5 Bucks <span class="float-right">09:10</span></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="chatting_profile">
                <div class="row py-3 border-bottom">
                    <div class="col-md-1 col-3">
                        <img class="friend_profile_thumb" src="/images/profiles/female.jpg" alt="profile Image">
                    </div>
                    <div class="col-md-11 col-9">
                        <div class="friend_data_thumb">
                            <h5>Matt</h5>
                            <div class="online">
                                <span class="online_green"></span>
                                <p>Online</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $("nav").remove();
</script>