<!-- form -->
<section id="register mt-5">
    <div class="wrapper mt-5">
        <div class="row m-auto">
            <div class="col-12 m-auto">
                {{!-- alert --}}
                {{#if flash.success}}
                <div class="alert alert-success text-center mx-auto" role="alert" style="width:350px">
                    {{flash.success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="fas fa-times noHover"></i>
                    </button>
                </div>
                {{/if}}

                {{!-- flash --}}
                {{#if flash.danger}}
                <div class="alert alert-danger text-center mx-auto" role="alert" style="width:350px">
                    {{flash.danger}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="fas fa-times noHover"></i>
                    </button>
                </div>
                {{/if}}

                <div class="text-center mb-4">
                    <h3>Login</h3>
                    <p class="feature_main_para">Login with you preference, your information is save with us.</p>
                    <p class="d-sm-none">Login with you preference.</p>
                    <div class="oauth_container">
                        <a href="/oauth/facebook" class="oauth facebook">
                            <div class="btn">Facebook</div><i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="/oauth/google" class="oauth google">
                            <div class="btn">Google</div><i class="fab fa-google-plus-g"></i>
                        </a>
                    </div>
                    <h5>or</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-8 m-auto">
                <form action="/login" method="POST" class="text-center">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group col-12">
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    <p class="d-inline-block float-left"><a href="/forgot">Forgot Password?</a></p>
                    <p class="d-inline-block float-right"><a href="/register">Create a new account</a></p>
                    <button type="submit" class="btn user_btn ml-auto">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>