<div class="thanks_container">
    <img class="mx-auto" src="/images/thanks.png" alt="Thanks image">
    <h5 class="text-center">Thanks for choosing us !</h5>
    <p class="text-center px-sm-0 px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quidem doloremque molestiasmagni sint rem sit. Nostrum cumque ipsum sint quas eveniet provident nisi!</p>
    <a href="/">
        <button type="button" class="btn btn-primary px-5 py-3 d-block mx-auto">Back to Home</button>
    </a>
</div>