* {
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
}

.fab {
    font-weight: 100;
}

/* loader */

.loader_container {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.6;
    background: #fff;
    height: 100vh;
    z-index: 300;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    transition: all 0.6s;
}

.loader_container p {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #151515;
}

.loader_container p:first-child {
    top: 35%;
    font-size: 30px;
    font-family: 'montserrat', sans-serif;
    color: #494848;
}

.loader {
    margin-top: -10px;
    margin-left: -37px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 10px;
    background: #3498DB;
    border-radius: 5px;
    -webkit-animation: load 1.8s ease-in-out infinite;
    animation: load 1.8s ease-in-out infinite;
}

.loader:before,
.loader:after {
    position: absolute;
    display: block;
    content: "";
    -webkit-animation: load 1.8s ease-in-out infinite;
    animation: load 1.8s ease-in-out infinite;
    height: 10px;
    border-radius: 5px;
}

.loader:before {
    top: -20px;
    left: 10px;
    width: 40px;
    background: #EF4836;
}

.loader:after {
    bottom: -20px;
    width: 35px;
    background: #F5AB35;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }

    50% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    100% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
}

@keyframes load {
    0% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }

    50% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    100% {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
}

/* loader ends */

p {
    font-size: 0.88rem;
    font-weight: lighter !important;
    color: #929292 !important;
}

nav {
    padding-top: 2rem !important;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: ease-in-out 100ms;
}

.nav-item.nav-link.active,
.nav-item.nav-link:hover {
    color: #2179ff !important;
    border-bottom: solid 3px #2179ff;
    transition: all 0.2s;
}

.nav-item.nav-link.active {
    border-bottom: solid 3px #2179ff !important;
}

.nav-item.nav-link:hover {
    border-bottom: 0px;
}

.navbar-nav li {
    padding: 0 0.35rem;
    font-weight: bold;
}

a.nav-item.nav-link {
    padding-bottom: 0px;
}

.navbar-brand {
    font-weight: bold;
    color: white !important;
}

.color_other {
    color: #2179ff !important;
}

.user_btn {
    display: inline-block;
    margin-top: 2px;
    text-align: center;
    background-color: #2179ff !important;
    color: white !important;
    border-radius: 40px;
    padding: 0.4rem 2.2rem !important;
    letter-spacing: 1px;
    box-shadow: 0px 2px 13px 3px rgba(99, 166, 248, 0.29);
    transition: ease-in-out 250ms;
}

.user_btn:hover {
    text-decoration: none;
    background-color: #5e9bf8 !important;
}

.navActive {
    padding: .5rem 1rem !important;
    background-color: #f6fbfe;
    border-bottom: solid 2px #e6ebee;
}

.navActive .container .navbar-brand {
    color: #2179ff !important;

}

.navActiveToggle {
    padding: .5rem 1rem !important;
    background-color: #f6fbfe !important;
    border-bottom: solid 2px #e6ebee;
}

.navActiveToggle .container .navbar-brand {
    color: #2179ff !important;
}

/* banner */

.header {
    overflow: hidden !important;
    height: 100vh;
}

.wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.jumbotron {
    background-color: #f6fbfe;
    z-index: 2;
}

.vertical-center {
    min-height: 95vh;
    min-height: 100%;
    display: flex;
    align-items: center;
}

.img_container {
    z-index: 2;
}

.bannerImage {
    width: inherit;
    -webkit-filter: drop-shadow(3px 0px 6px rgba(149, 149, 149, 0.36));
    filter: drop-shadow(3px 0px 6px rgba(149, 149, 149, 0.36));
    object-fit: cover;
}

/* shapes */
.shape {
    background-color: #0f7cff;
    width: 40vw;
    height: 45vh;
    z-index: 1;
    position: relative;
    box-shadow: 0 2px 49px 0 rgba(34, 106, 191, 0.3);
    border-radius: 45px;
}

.shape_left {
    top: -47rem;
    left: -13rem;
    transform: rotate(-35deg);
    transition: all ease-in-out 5s;
}

.shape_right {
    bottom: 47rem;
    right: -49.5rem;
    transform: rotate(-35deg);
    width: 60vw;
    height: 84vh;
    z-index: 1;
    transition: all ease-in-out 5s;
}

.rotate_more_l {
    transform: rotate(-15deg);
}

.rotate_more_r {
    transform: rotate(-48deg) !important;
}


/* section */
.section {
    height: 100vh;
}


/* about section */

.about-img {
    -webkit-filter: drop-shadow(3px 0px 6px rgba(136, 184, 243, 0.35));
    filter: drop-shadow(3px 0px 6px rgba(136, 184, 243, 0.35));

}

.about_text p {
    margin-top: 1.5rem;
}

/* features */
section#features {
    background-color: #f6fbfe;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #616161;
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 1px;
}

.feature {
    cursor: pointer;
    margin-bottom: 1.7rem;
}

.feature:hover .feature_image_box {
    /* background-color: red; */
    border-bottom: solid 4px #0f7cff;
}

.info_text h5 {
    width: 100%;
}

.info_text p {
    width: 100%;
    font-size: 0.8rem;
    margin-top: 1px;
    margin-bottom: 0px;
}

.feature_image_box {
    float: right;
    width: 5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: none;
    box-shadow: 0px 0px 11px 3px rgba(124, 124, 124, 0.14);
    border-radius: 4px;
    transition: ease-in-out 100ms;
}

.info_text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* get started */
#get_started,
#fotter,
#fotter_bottom {
    background-color: #f6fbfe;
    border-bottom: solid 1px #c7c7c7d9;
}

/* fotter */
#fotter h6 {
    color: #000000
}

#fotter h6:hover {
    color: #0f7cff !important;
}

#fotter ul {
    list-style-type: none;
    padding-left: 0px;
    color: #525252 !important;
    cursor: pointer;
    font-size: 14px;
}

#fotter ul li {
    padding-bottom: 1px;
}

#fotter ul li:hover,
#fotter_bottom ul li:hover {
    color: #0f7cff !important;
}

#fotter_bottom .fotter_bottom {
    border-top: solid 1px #c7c7c7d9;
}

.fotter_bottom {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#fotter_bottom .fotter_bottom p {
    font-size: 0.9rem;
}

#fotter_bottom ul li {
    display: inline;
    list-style-type: none;
    padding-left: 2rem;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
}


/* input fields */
input {
    background-color: transparent;
    border: solid 1px rgb(165, 165, 165);
    padding: 1.3rem 1.35rem !important;
    font-size: 0.86rem !important;
    color: black !important;
}

input:focus {
    border-color: #2179ff !important;
    outline: 0;
    box-shadow: 0 0 0 0.04rem rgb(33, 121, 255) !important;
}

.form-group {
    margin-bottom: 1.4rem;
}

/* oauth */
.oauth_container {
    margin-bottom: 1.6rem;
}

.oauth {
    display: inline-block;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    height: 2.4rem;
    cursor: pointer;
}

.oauth .btn {
    display: block;
    transition: ease all 300ms;
}

.oauth:hover .btn {
    margin-top: -2rem;
}


.oauth:not(:first-child) {
    margin-left: 1rem;
}

.oauth a {
    text-decoration: none;
    color: white;
    width: 8rem;
    outline: none !important;
    display: block;
}

.facebook {
    background-color: #3b5999;
}


.google {
    background-color: #dd4b39;
}

/* chat */
#chat_container {
    height: 100vh;
}

.bugFix {
    width: 100vw;
    height: 100vh;
    margin-left: 0px;
}

#chat_container ul {
    list-style-type: none;
    padding-left: 0px;
    height: 90vh;
    margin-bottom: 0rem;
}

#chat_container ul li {
    width: 100%;
    border-bottom: solid 1px #eeeeee;
    padding: 0.65rem 1rem;
    cursor: pointer;
    font-weight: bold;
    color: #303030;
}

#chat_container ul li:hover {
    background-color: #cffdff;
}

.chat_nav, .chatter_nav {
    background-color: #eeeeee;
    height: 4rem;
    width: 100%;
}

.active_chatter {
    background-color: #cae9eb !important;
}

.nav_data {
    width: 90%;
}

.friendsList {
    height: inherit;
    background-color: white;
    box-shadow: 7px 5px 8px 4px rgba(163, 255, 239, 0.25);
}

.profile_thumb {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
}

.friend_profile_thumb {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: inline-block;
}

.friend_data_thumb {
    padding-right: inherit;
    display: inline-block;
    margin: auto;
    margin-left: 1.1rem;
    width: 100%;
    line-height: .6rem;
}

.friend_data_thumb p {
    margin-bottom: 0px;
    font-size: 0.74rem;
    margin-top: 0.3rem;
}

.online_green {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #64e60f;
    margin: auto;
    border-radius: 50%;
}

.online p {
    display: inline;
}

.message-number {
    background-color: #13988a;
    float: right;
    width: 2rem;
    border-radius: 2rem;
}

.unreadMessage_thumb {
    color: #13988a !important;
    font-weight: bold !important;
}

.chatting_profile {
    height: 4rem;
    background-color: #eeeeee;
    box-shadow: 7px 5px 8px 4px rgba(163, 255, 239, 0.25);
}

.chatter_profile_thumb {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
}

.chat_nav_pc {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: #909090;
    cursor: pointer;
}

/* message area */

.message_area {
    height: 92vh;
    width: 100%;
    padding: 1rem 2.5rem;
    background-color: #cae9eb;
    overflow-y: scroll;
}

.message {
    display: block;
    clear: both;
    position: relative;
    padding: 0.3rem 1.5rem;
    max-width: 80%;
    margin-top: 1.4rem;
}

.message.sent {
    float: right;
    border: 1.1px solid #cacaca;
    border-radius: 0px 0px 5px 5px;
    background-color: white;
    box-shadow: -4px 4px 13px 2px rgba(65, 255, 235, 0.15);
}

.message.recieved {
    border-radius: 0px 5px 5px 5px;
    background: #13988a;
    float: left;
    box-shadow: 4px 4px 13px 2px rgba(255, 255, 255, 0.45)
}

.right_corner {
    width: 20px;
    height: 21px;
    position: absolute;
    right: -20px;
    top: -1px;
    -webkit-clip-path: polygon(0 0, 0 70%, 100% 0);
    clip-path: polygon(0 0, 0 70%, 100% 0);
    background-color: #cacaca;
}

.inner_right_corner {
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0px;
    top: 1px;
    -webkit-clip-path: polygon(0 0, 0 70%, 100% 0);
    clip-path: polygon(0 0, 0 70%, 100% 0);
    background-color: white;
}


.left_corner {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -19px;
    top: 0px;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 70%);
    clip-path: polygon(100% 0, 0 0, 100% 70%);
    background-color: #13988a;
}

.message p {
    font-size: 1rem;
    margin-bottom: 0px;
}

.message.sent p {
    color: #13988a !important;
}



.message.recieved p {
    color: white !important;
    float: left;
}

/* input area */
.input_area {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    min-width: 100%;
    box-sizing: content-box;
    border: solid 2px #13988a;
    box-shadow: 0px -5px 7px 3px rgba(127, 255, 232, 0.18);
    display: flex;
}

.input_area textarea {
    flex-basis: 85%;
    height: 3rem;
    border: none;
    resize: none;
    padding: 0.6rem 0.6rem 0rem 2rem;
}

.input_area textarea:focus {
    box-shadow: none !important;
}

/* .input_area textarea:focus .input_area{ */
.input_area:focus-within {
    border-color: #0f7cff !important;
}

.input_area button {
    flex-basis: 15%;
    border: none;
    color: white;
    background-color: #13988a;
    cursor: pointer;
    letter-spacing: 0.65px;
    font-weight: bold;
}

/* scroll bar */

.message_area::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    position: relative;
}

.message_area::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;}

.message_area::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0f7cff;}

.back {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
    transition: ease-in-out all 350ms;
}

.back_toggle {
    z-index: 1;
}

.menu_dots,
.mobile_menu {
    color: rgb(119, 119, 119);
    cursor: pointer;
    font-size: 2rem;
}

.mobile_menu {
    color: #ff9595;
}

.menu_options {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 17rem;
    height: 100vh;
    background-color: #d1e6ff;
    border-right: solid 2px #0f7cff;
    z-index: 1;
    transition: cubic-bezier(0.05, 0.1, 0.51, 1.11) all 400ms;
    box-shadow: 4px 0px 20px 5px rgba(0, 0, 0, 0.2);
}


.prof {
    position: relative;
}

.prof .menu_dots {
    position: absolute;
    top: 0px;
    right: 2rem;
    color: #ff9595;
    font-size: 2rem;
}

.menu_option_toggle {
    left: -17rem !important;
    box-shadow: none;
}

.menu_options ul li {
    border: none !important;
    transition: all 200ms;
}

.menu_options ul li:hover {
    background-color: #f5f5f5 !important
}

.menu_options ul li:hover:last-child {
    color: white !important;
    background-color: #ff9595 !important
}

.menu_options h5 {
    padding: 2rem 1rem;
    background-color: white;
}

/* thanks */
.thanks_container {
    margin-top: 6rem;
    height: 90vh;
}

.thanks_container img {
    margin-top: 7rem;
    display: block;
    width: 22rem;
}

.thanks_container h5 {
    color: black;
    font-size: 1.35rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.thanks_container a {
    text-decoration: none !important;
}

/* media query */
@media only screen and (min-width: 1140px) {}

@media only screen and (min-width:992px)and (max-width:1140px) {
    .wrapper {
        padding: auto 5rem;
    }

    /* shapes */
    .shape_left {
        top: -50rem;
        left: -8rem;
    }
}

/* chatapp */
@media only screen and (min-width:0px)and (max-width:756px) {
    .chat_list_wrapper {
        position: fixed;
        top: 0rem;
        left: -100%;
        z-index: 1;
        padding-left: 0px;
        transition: ease all 300ms;
    }

    .m_chats_hider {
        left: 0rem;
        box-shadow: 3px 3px 8px 4px rgba(141, 141, 141, 0.21);
    }

    .friendsList {
        box-shadow: none;
    }

    .chat_nav .menu_dots {
        display: none;
    }

}

@media only screen and (min-width:576px)and (max-width:992px) {

    /* nav */
    .nav-item.nav-link.active {
        border-bottom: 0px !important;
    }

    /* all */
    .wrapper {
        padding: 3rem 0rem;
    }

    /* shapes */
    .shape_left {
        top: -49rem;
        left: -12rem;
        width: 60vw;
    }

    .shape_right {
        bottom: 44rem;
        right: -25.5rem;
        width: 80vw;
    }

    /* banner */
    .middle_xs {
        display: inline-block !important;
        margin-top: 2rem;
    }

    #main_carousel {
        margin-top: 3rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .register {
        display: none;
    }

    .hide-xs {
        display: none;
    }

    /* input field chat */

    .input_area textarea {
        flex-basis: 76%;
    }

    .input_area button {
        flex-basis: 24%;
    }
}

@media only screen and (min-width:0px) and (max-width:576px) {

    /* nav */
    .nav-item.nav-link.active {
        border-bottom: 0px !important;
    }

    nav {
        padding-top: 1.2rem !important;
    }

    /* all */
    .wrapper {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .jumbotron h2 {
        text-align: center;
    }

    /* shapes */
    .shape {
        width: 100vw;
        height: 40vh;
    }


    .shape_left {
        top: -46rem;
        left: -14rem;
    }

    .shape_right {
        bottom: 37rem;
        right: -19.5rem;
    }

    /* header */

    .user_btn {
        margin-left: 20vw;
    }

    .middle_xs {
        display: inline-block !important;
        margin-top: 1.5rem;
    }

    #main_carousel {
        margin-top: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .register {
        display: none;
    }

    .hide-xs {
        display: none;
    }

    /* about section */
    .about-img {
        width: 45%;
        margin-bottom: 1rem;
    }

    .about {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .about .row:first-child {
        border-bottom: solid 2px #e6ebee;

    }

    .line_bottom {
        border-bottom: solid 2px #c7c7c7d9;
        padding-bottom: 7px;
    }

    .about_text h3 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    .about_text p {
        display: none;
    }

    /* feature */
    .features_all {
        text-align: center;
    }

    .feature_main_para {
        display: none;
    }

    .section_main_para {
        display: none;
    }

    .info_text h5 {
        text-align: left;
    }

    .info_text p {
        display: none;
    }

    #use .about_text {
        margin-left: 20% !important;
    }

    /* form */

    form p a {
        font-size: 0.7rem;
    }

    /* thanks */
    .thanks_container p {
        width: 100% !important;
    }


    /* input  */

    .input_area textarea {
        flex-basis: 75%;
    }

    .input_area button {
        flex-basis: 25%;
    }
}