* {
    font-family: 'Quicksand', sans-serif !important;
    outline: none !important;
}

p {
    font-size: 1.1rem;
    font-weight: lighter !important;
    color: #525252 !important;
}

nav {
    padding-top: 2rem !important;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: ease-in-out 100ms;
}

.nav-item.nav-link.active,
.nav-item.nav-link:hover {
    color: #2179ff !important;
    border-bottom: solid 3px #2179ff;
    transition: all 0.2s;
}

.nav-item.nav-link.active {
    border-bottom: solid 3px #2179ff !important;
}

.nav-item.nav-link:hover {
    border-bottom: 0px;
}

.navbar-nav li {
    padding: 0 0.35rem;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
    color: white !important;
    letter-spacing: 1px;
}

.user_btn {
    display: inline-block;
    margin-top: 2px;
    text-align: center;
    background-color: #2179ff !important;
    color: white !important;
    border-radius: 40px;
    padding: 0.4rem 2.2rem !important;
    letter-spacing: 1px;
    box-shadow: -1px 5px 20px 3px rgba(99, 166, 248, 0.29);
    transition: ease-in-out 250ms;
}

.user_btn:hover {
    text-decoration: none;
    background-color: #5e9bf8 !important;
}

.navActive {
    padding: .5rem 1rem !important;
    background-color: #f6fbfe;
    border-bottom: solid 2px #e6ebee;
}

.navActive .container .navbar-brand {
    color: #2179ff !important;

}

.navActiveToggle {
    padding: .5rem 1rem !important;
    background-color: #f6fbfe !important;
    border-bottom: solid 2px #e6ebee;
}

.navActiveToggle .container .navbar-brand {
    color: #2179ff !important;
}

/* banner */

.header {
    overflow: hidden !important;
    height: 100vh;
}

.wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.jumbotron {
    background-color: #f6fbfe;
    z-index: 2;
}

.vertical-center {
    min-height: 95vh;
    min-height: 100%;
    display: flex;
    align-items: center;
}

.img_container {
    z-index: 2;
}

.bannerImage {
    width: inherit;
    -webkit-filter: drop-shadow(3px 0px 6px rgba(149, 149, 149, 0.36));
    filter: drop-shadow(3px 0px 6px rgba(149, 149, 149, 0.36));
    object-fit: cover;
}

/* shapes */
.shape {
    background-color: #0f7cff;
    width: 40vw;
    height: 45vh;
    z-index: 1;
    position: relative;
    box-shadow: 0 2px 49px 0 rgba(34, 106, 191, 0.3);
    border-radius: 45px;
}

.shape_left {
    top: -47rem;
    left: -13rem;
    transform: rotate(-35deg);
    transition: all ease-in-out 5s;
}

.shape_right {
    bottom: 47rem;
    right: -49.5rem;
    transform: rotate(-35deg);
    width: 60vw;
    height: 84vh;
    z-index: 1;
    transition: all ease-in-out 5s;
}

.rotate_more_l {
    transform: rotate(-15deg);
}

.rotate_more_r {
    transform: rotate(-48deg) !important;
}


/* section */
.section {
    height: 100vh;
}


/* about section */

.about-img {
    -webkit-filter: drop-shadow(3px 0px 6px rgba(136, 184, 243, 0.35));
    filter: drop-shadow(3px 0px 6px rgba(136, 184, 243, 0.35));

}

.about_text p {
    margin-top: 1.5rem;
    font-size: 1rem;
}

/* features */
section#features {
    background-color: #f6fbfe;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #3c3c3c;
}

h5 {
    font-size: 1.2rem;
    margin-bottom: 1px;
}

.feature {
    cursor: pointer;
    margin-bottom: 1.7rem;
}

.feature:hover .feature_image_box {
    /* background-color: red; */
    border-bottom: solid 4px #0f7cff;
}

.info_text h5 {
    width: 100%;
}

.info_text p {
    width: 100%;
    font-size: 0.8rem;
    margin-top: 1px;
    margin-bottom: 0px;
}

.feature_image_box {
    float: right;
    width: 5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: none;
    box-shadow: 0px 0px 11px 3px rgba(124, 124, 124, 0.14);
    border-radius: 4px;
    transition: ease-in-out 100ms;
}

.info_text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* get started */
#get_started,
#fotter,
#fotter_bottom {
    background-color: #f6fbfe;
    border-bottom: solid 1px #c7c7c7d9;
}

/* fotter */
#fotter h6 {
    color: #000000
}

#fotter h6:hover {
    color: #0f7cff !important;
}

#fotter ul {
    list-style-type: none;
    padding-left: 0px;
    color: #525252 !important;
    cursor: pointer;
    font-size: 14px;
}

#fotter ul li {
    padding-bottom: 1px;
}

#fotter ul li:hover,
#fotter_bottom ul li:hover {
    color: #0f7cff !important;
}

#fotter_bottom .fotter_bottom {
    border-top: solid 1px #c7c7c7d9;
}

.fotter_bottom {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#fotter_bottom .fotter_bottom p {
    font-size: 0.9rem;
}

#fotter_bottom ul li {
    display: inline;
    list-style-type: none;
    padding-left: 2rem;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
}

/* media query */
@media only screen and (min-width:1140px) {}

@media only screen and (min-width:992px)and (max-width:1140px) {
    .wrapper {
        padding: auto 5rem;
    }

    /* shapes */
    .shape_left {
        top: -50rem;
        left: -8rem;
    }
}

@media only screen and (min-width:576px)and (max-width:992px) {

    /* nav */
    .nav-item.nav-link.active {
        border-bottom: 0px !important;
    }

    /* all */
    .wrapper {
        padding: 3rem 0rem;
    }

    /* shapes */
    .shape_left {
        top: -49rem;
        left: -12rem;
        width: 60vw;
    }

    .shape_right {
        bottom: 44rem;
        right: -25.5rem;
        width: 80vw;
    }

    /* banner */
    .middle_xs {
        display: inline-block !important;
        margin-top: 2rem;
    }

    #main_carousel {
        margin-top: 3rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .register {
        display: none;
    }

    .hide-xs {
        display: none;
    }
}

@media only screen and (min-width:0px) and (max-width:576px) {

    /* nav */
    .nav-item.nav-link.active {
        border-bottom: 0px !important;
    }

    nav {
        padding-top: 1.2rem !important;
    }

    /* all */
    .wrapper {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .jumbotron h2 {
        text-align: center;
    }

    /* shapes */
    .shape {
        width: 100vw;
        height: 40vh;
    }


    .shape_left {
        top: -46rem;
        left: -14rem;
    }

    .shape_right {
        bottom: 37rem;
        right: -19.5rem;
    }

    /* header */

    .user_btn {
        width: 50% !important;
        margin-left: 20vw;
    }

    .middle_xs {
        display: inline-block !important;
        margin-top: 1.5rem;
    }

    #main_carousel {
        margin-top: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .register {
        display: none;
    }

    .hide-xs {
        display: none;
    }

    /* about section */
    .about-img {
        width: 45%;
        margin-bottom: 1rem;
    }

    .about {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .about .row:first-child {
        border-bottom: solid 2px #e6ebee;

    }

    .line_bottom {
        border-bottom: solid 2px #c7c7c7d9;
        padding-bottom: 7px;
    }

    .about_text h3 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    .about_text p {
        display: none;
    }

    /* feature */
    .features_all {
        text-align: center;
    }

    .feature_main_para {
        display: none;
    }

    .section_main_para {
        display: none;
    }

    .info_text h5 {
        text-align: left;
    }

    .info_text p {
        display: none;
    }

    #use .about_text {
        margin-left: 20% !important;
    }
}